/*Styles du body valable pour tous les écrans*/
body {
    font-family: 'Raleway', sans-serif;
    display: flex;
    justify-content: flex-start;
    }
  .bold{
      font-weight: bold;
  }

                        /*STYLES POUR ÉCRANS MOBILES*/
@media screen and (min-width :320px ){
    .container{
        width: 100%;
    }
    body {
        align-items: center;
    }
    /*Style du menu de navigation*/
    nav ul{
        display : flex;
        list-style-type: none;
        justify-content: flex-start;
    }
    nav ul :nth-last-child(1){
        position : absolute;
        top : 15px;
        right : 50px;
        color :#0065FC;
        font-weight: bolder;
    }
    nav ul :nth-last-child(3){
        margin-right :70px;
        color : #0065FC;
    }
    /*Taille du logo*/
    nav img {
    height :35px;
    }
    /*Style du border-bottom du header*/
    header{
        border-bottom: 2px solid #0065FC;
        border-bottom-width: thin;
    }
    /*Taille des fonts*/
    h1{
        font-size: 22px;
    }
    h2{
        font-size: 20px;
    }
    h3{
        font-size: 18px;
    }
    }


     .buttons :{
         display:flex;
         
     }
                       /*STYLE POUR LES TABLETTES */
@media screen and (min-width :768px ){

    nav img {
    height :40px;
    }
    nav ul{
    display : flex;
    list-style-type: none;
    justify-content: flex-start;
    }
    h1 {
    font-weight : ;
}
    h2 {
    font-weight : ;
    }
}
/*STYLES COMMUNS À  TOUS LES ÉCRANS*/

/* Style du champs de recherche */
.input-container {
  display: flex;
  width: 100%;
  margin: 15px;
  display :flex;
}

/* Style de l'icone map du champs de recherche */
.fa-map-marker-alt {
    padding: 10px;
    background: #f2f2f2;
    color: rgb(17, 17, 17);
    min-width: 50px;
    text-align: center;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;;
}
/* Style de l'icone recherche du champs de recherche */
.fa-search{
    padding: 10px;
    background:  #0065FC;
    color: #f2f2f2;
    min-width: 50px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  /*Style du placeholder dans le champs de recherche*/
.input-field {
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
/* Style du paragraphe de résultats de la recherche */
.results-container{
    display : flex;
    justify-content: flex-start;
    align-items: center;
}
/* Style de l'icone info du paragraphe de résultats */
.fa-info-circle{
    color : #f2f2f2;
    background:#0065fc;
    border-radius: 10px 10px 10px 10px;
    margin-right: 10px;
}
              /*SECTION HÉBERGEMENTS LES PLUS POPULAIRES*/

/* Style de la div popular-title*/
.popular-title{
    display :flex;
    align-items : center;
}

.fa-chart-line{
    margin-left: auto;
}

/* Style de la div filters-container*/

.buttons{
    margin-left: 20px;
}
.filters-buttons{
    background-color: rgb(255, 255, 255);
    border-radius: 10px 10px 10px 10px;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    border: 1px solid#f2f2f2;
    display:flex;
    align-items: center;
}
/* Style des icones de filters-container*/

.fa-circle{
    margin-left: -25PX;
    font-size :45px;
    color : #DEEBFF;
}
.fa-euro-sign{
    color:#0065FC;
    font-size :20px;
    margin-left: -30PX;
    margin-right: 15px;
}
.fa-child{
    COLOR :#0065FC;
    font-size :20px;
    margin-left: -30PX;
    margin-right: 15px;
}
.fa-heart{
    color:#0065FC;
    font-size :18px;
    margin-left: -32PX;
    margin-right: 15px;
}
.fa-paw{
    color:#0065FC;
    font-size :18px;
    margin-left: -32PX;
    margin-right: 15px;
}

