
/*Styles du body */
body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
  padding:0;
  margin-left:10px;
  font-size: 16px;
}
.container {
  width: 100%;
}
li {
  list-style-type: none;
  margin: 0;
}
a{
  text-decoration:none;
  color:black;
}
/*Taille des fonts*/
h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
h3{
  font-size: 17px;
}
p{
  font-size: 16px;

}
/*Style de la classe bold*/
.bold {
  font-weight: bold;
}
/*Style du menu de navigation*/
nav ul {
  display: flex;
  padding: 0;
  margin: 0;
}
#inscription{
  color:#0065fc;
  font-weight: bold;
  position:absolute;
  top: 5px;
  right: 10px;
  font-weight: bolder;
}
nav ul a  {
text-decoration:none;
}

/*nav ul :nth-last-child(1) {
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: bolder;
}*/

nav ul :nth-last-child(2),
nav ul :nth-last-child(3) {
  flex: 1;
  padding-bottom: 40px;
  position: relative;
  right:40px;
  border-bottom: 2px solid #f2f2f2;
  text-align: center;
  
}
nav ul  :nth-last-child(2):active,
nav ul :nth-last-child(3):active {
border-bottom: 2px solid #0065fc;
}

/*nav ul :nth-last-child(2):hover,
nav ul :nth-last-child(3):hover {

border-bottom: 2px solid #0065fc;
}*/

/*Taille du logo*/
nav img {
  height: 35px;
}
/* Style du champs de recherche */
.input-container {
  display: flex;
  align-content:center;
  /*flex-wrap:nowrap;*/
  width: 100%;
  height:40px;
}

/* Style de l'icone map du champs de recherche */
.fa-map-marker-alt {
  padding: 10px;
  background: #f2f2f2;
  color: rgb(17, 17, 17);
  width: 20px;
  height:15px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position:absolute;
  
}
/* Style de l'icone recherche du champs de recherche */
.fa-search {
  padding: 9px;
  background: #0065fc;
  color: #f2f2f2;
  width: 20px;
  height: 15px;
  position:absolute;
  left:280px;
  border-radius: 10px;
}
/*Style du placeholder dans le champs de recherche*/
.input-field {
  height: 30px;
  width:300px;
  border-style:none;
  border: solid 1px #f2f2f2;
  border-radius: 10px;
}
::placeholder{
  font-weight:bold;
  font-family: "Raleway", sans-serif;
  padding-left:40px;
}
/* Style du paragraphe de résultats de la recherche */
.results-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.rechercher{
  visibility:hidden;
}
/* Style de l'icone info du paragraphe de résultats */
.fa-info-circle {
  color: #f2f2f2;
  background: #0065fc;
  border-radius: 10px 10px 10px 10px;
  margin-right: 10px;
}

/* Style de la div filters-container*/

.buttons {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}
.filters-buttons {
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px 20px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  border: 1px solid#f2f2f2;
  display: flex;
  line-height: 32px;
  margin: 15px;
  padding:0;
}
.filters-buttons:hover {
  background-color: #deebff;
}
.filters-buttons i {
  color: #0065fc;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #deebff;
  height: 34px;
  width: 34px;
}
.filters-buttons span {
  padding-left: 40px;
}
.results-container{
  display:flex;
  align-items: center;
}
/*SECTION HÉBERGEMENTS LES PLUS POPULAIRES*/

/* Style de la div popular-title*/
.popular-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* Style de la section popular-accomodations*/
.popular-accomodations {
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(242, 242, 242);
}
/* Style des images des cards*/
.popular-image {
  object-fit: cover;
  width: 40%;
  height: 150px;
  padding-left: 5px;
  border-radius: 15px 0px 0px 15px;
}
/* Style de la liste de cards (ul)*/
.popular-cards {
  display: flex;
  flex-direction: column;
  align-content: center;
  padding:0;
}
/* Style des cards*/
.popular-list-cards {
  display: flex;
  align-items: center;
  background-color: white;
  height: 160px;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  margin:0px;
  margin-top: 10px;
}

/* Style des liens de cards*/
.popular-list-cards a {
  display: flex;
  color: black;
  text-decoration: none;
  justify-content: space-between;
  align-items: center;
}
/* Style du contenu des cards*/
.popular-content {
  width: 50%;
}
/* Style du paragraphe des cards*/
.popular-text {
  padding-bottom: 15px;
}
/* Style du titre des cards*/
.popular-content h3 {
  /*font-size: 18px;*/
  padding-bottom: 0;
}
/* Style des icones de cards*/
.fa-star.full{
  color: #0065fc;
  font-size: 15px;
}
.fa-star{
  color:#bcbec1;
  font-size: 15px;

}
/*SECTION HÉBERGEMENTS */
.accomodations {
  padding: 10px 20px 10px 10px;
  background-color: rgb(242, 242, 242, 0.4);
}
/* Style des images des cards*/
.accomodation-image {
  object-fit: cover;
  width: 95%;
  height: 60%;
  padding: 5px 5px 0 5px;
  border-radius: 15px 15px 0px 0px;
}
.accomodations-cards {
  display: flex;
  flex-direction: column;
}
/* Style des cards*/
.accomodations-list-cards {
  background-color: rgb(255, 255, 255);
  height: 220px;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  margin-left: -30px;
  margin-top: 10px;
}
/* Style des liens de cards*/
.accomodations-cards a {
  color: black;
  text-decoration: none;
}
/* Style  du titre des cards*/
.accomodations-cards h3 {
  margin-top: 0;
}
.all-accomodations h2 {
  margin-left:15px;
}
.accomodation-content {
  justify-content: flex-start;
  width: 100%;
  height:40px;
  padding: 0 0 5px 5px;

}
/* Style du paragraphe des cards*/

.accomodation-text {
  margin-top: -15px;
  margin-bottom: 10px;
}

/*SECTION ACTIVITÉS*/

.activities {
  padding: 10px;
  background-color: rgb(242, 242, 242, 0.4);
}
/* Style des images des cards*/
.activity-image {
  object-fit: cover;
  width: 97%;
  height: 70%;
  padding: 5px 5px 0 5px;
  border-radius: 15px 15px 0px 0px;
}
/* Style des liens de cards*/
.activities-cards a {
  color: black;
  text-decoration: none;
}
/* Style des cards*/
.activities-list-cards {
  background-color: rgb(255, 255, 255);
  height: 220px;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  margin-left: -30px;
  margin-top: 10px;
}
/* Style du titre des cards*/
.activities-list-cards h3 {
  padding-left: 20px;
}
/*STYLE DU FOOTER*/
footer {
  margin-top: 0px;
  padding: 30px;
  background-color: #f2f2f2;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

                        /*FORMAT DESKTOP*/

@media only screen and (min-width: 992px) {

/* Style du header*/

  header{
    margin-top:20px;
    margin-bottom:20px;
  }

  body{
    font-size: 18px;
    margin-left: 10px;

  }
/* Style de la barre de navigation*/

  nav {
    display: flex;
    justify-content: space-between;
    align-content: center;
  }
  nav img {
    height: 50px;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
  }
  nav li {
    margin: 20px;
  }
  nav ul :nth-last-child(1) {
    position: static;
  font-weight: bolder;
  }
  nav ul :nth-last-child(2),
  nav ul :nth-last-child(3) {
    padding-bottom: 0px;
    /*border-top: 2px solid #f2f2f2;*/
    border-bottom: none;
  }
  
  nav ul :nth-last-child(2):active,
  nav ul :nth-last-child(3):active {
    /*border-top: 2px solid #0065fc;*/
    border-bottom: none;
  }
  nav li a {
    text-decoration: none;
    color:initial;
  }

/* Style des titres*/
h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
.fa-search {
  visibility:hidden;
}
.rechercher{
  visibility:visible;
  padding: 10px;
  background: #0065fc;
  color: #f2f2f2;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-left: -75px;
  display:initial;
}
.input-container{
  display:flex;
  align-content:center;
}
.input-field{
height:36px;
width:400px;
font-size:20px;
}
.filters-container{
  margin-top:40px;
  display:flex;
  align-items:center;
}
.fa-map-marker-alt{
  height: 20px;
}
.filters-buttons{
  font-size:18px;
}
/*STYLE DU FOOTER*/
.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.all-accomodations{
  display:flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  height: 600px;
}

.popular-accomodations{
 
flex:1;
/*position:relative;
left:950px;*/
margin-top:0;
margin-left:10px;
margin-right: 10px;
border-radius: 20px;
width: 30%;
}

.popular-cards{
  margin-top:0;
}
.accomodations{
  justify-content: ;
  /*position:relative;
  right:450px;*/
flex:2;
background-color: rgb(242, 242, 242);
border-radius: 40px;
margin-right:px;
}

.accomodations span{
  padding-bottom:20px;
  margin-left: 15px;
}
.accomodations-list-cards {
  background-color: rgb(255, 255, 255);
  height: 220px;
  width: 33%;
  border-radius: 15px 15px 15px 15px;
  margin-top: 0px;
  margin-bottom:20px;

}
.accomodations-cards{
  flex-direction:row;
  flex-wrap: wrap;
  justify-content: space-between;
margin-bottom: 0;
  

}

}
