/*STYLES POUR ÉCRANS MOBILES*/

.container {
  width: 100%;
}
/*Styles du body */
body {
  font-family: "Raleway", sans-serif;
  display: flex;
  justify-content: center;
}
li {
  list-style-type: none;
  margin:0;
}
.bold {
  font-weight: bold;
}

/*Style du menu de navigation*/
nav ul {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: flex-start;
}
nav ul :nth-last-child(1) {
  position: absolute;
  top: 15px;
  right: 50px;
  color: #0065fc;
  font-weight: bolder;
}
nav ul :nth-last-child(2),
nav ul :nth-last-child(3) {
    flex: 1;
    padding-bottom: 40px;
    margin-left: 10px;
    text-align: center;
    position:relative;
    color: #0065fc;
    border-bottom: 2px solid #f2f2f2;
}
nav ul :nth-last-child(2):active,
nav ul :nth-last-child(3):active{
    border-bottom: 2px solid #0065fc;
  
}

nav ul a {
  text-decoration: none;
  
}

/*Taille du logo*/
nav img {
  height: 35px;
}
/*Taille des fonts*/
h1 {
  font-size: 22px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 20px;
}

/*Style du footer*/
footer {

  margin-top: 0px;
  padding: 30px;
  background-color: #f2f2f2;
}
.footer-container {
 display: flex;  
 flex-direction: column;
justify-content: space-evenly;
}


/* Style du champs de recherche */
.input-container {
  display: flex;
  width: 100%;
}

/* Style de l'icone map du champs de recherche */
.fa-map-marker-alt {
  padding: 10px;
  background: #f2f2f2;
  color: rgb(17, 17, 17);
  min-width: 50px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
/* Style de l'icone recherche du champs de recherche */
.fa-search {
  padding: 10px;
  background: #0065fc;
  color: #f2f2f2;
  min-width: 50px;
  text-align: center;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
/*Style du placeholder dans le champs de recherche*/
.input-field {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
}
/* Style du paragraphe de résultats de la recherche */
.results-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/* Style de l'icone info du paragraphe de résultats */
.fa-info-circle {
  color: #f2f2f2;
  background: #0065fc;
  border-radius: 10px 10px 10px 10px;
  margin-right: 10px;
}


/* Style de la div filters-container*/

.buttons {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}
.filters-buttons {
  background-color: rgb(255, 255, 255);
  border-radius: 20px 20px 20px 20px;
  font-size: 15px;
  font-family: "Raleway", sans-serif;
  border: 1px solid#f2f2f2;
  display: flex;
  /*align-items: */
  line-height: 32px;
  margin: 10px;
  
  
}
 .filters-buttons:hover {
  background-color: #DEEBFF;
}
.filters-buttons i {
  color: #0065fc;
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #DEEBFF;
  height: 34px;
  width: 34px;
  margin-inline-start:-5px;
  
}
.filters-buttons span{
  padding-left: 40px;
}

 /*SECTION HÉBERGEMENTS LES PLUS POPULAIRES*/

/* Style de la div popular-title*/
.popular-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular-accomodations{
  margin-top:10px;
  margin-bottom:40px;
  padding:5px;
  background-color:#f2f2f2;
  /*align-content: ;*/

}
.popular-image{
  object-fit: cover;
  width:40%;
  padding:5px;
  border-radius: 15px 0px 0px 15px;

}
.popular-cards{
  display:flex;
  flex-direction: column;
  align-content: center;
  
}
.popular-list-cards{
  display:flex;
  justify-content: space-evenly;
  /*align-items:;*/
  background-color: white;
  height:160px;
  width:100%;
  border-radius: 15px 15px 15px 15px;
  margin-inline-start:-30px;
  margin-top:10px;


}
.popular-cards a{

  position:relative;
  color:black;
  text-decoration: none;
}
.popular-content h3{

display:flex;
flex-wrap: wrap;

}
.popular-text{
  padding-bottom: 30px;
  height: 0px;

}
.fa-star{
  color:#0065fc;
}

.popular-icones {
  display:flex;
  justify-content: flex-start;
  text-align: left;
/*margin-inline-start: -35px;*/
  flex-direction: row;
}
/*.fa-star:nth-last-child(1){
color:grey;
}*/


 /*SECTION HÉBERGEMENTS */
 .accomodations{
  margin-top:10px;
  margin-bottom:40px;

}

  /*SECTION ACTIVITÉS*/
  .activities{
    margin-top:10px;
    margin-bottom:40px;
  
  }
