                                                 /*FORMAT MOBILE*/

/*Styles du body */
body {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
}
/*Styles des listes */
li {
  list-style-type: none;
  margin: 0;
}
/*Styles des liens */
a {
  text-decoration: none;
  color: black;
}
/*Taille des fonts*/
h1 {
  font-size: 22px;
}
h2 {
  font-size: 18px;
}
h3 {
  font-size: 15px;
}
p {
  font-size: 14px;
}
/*Style de la classe bold*/
.bold {
  font-weight: bold;
}
       /*SECTION DU HEADER*/

/*Style du menu de navigation*/
nav ul {
  display: flex;
  padding: 0;
  margin: 0 10px 0 0;
}
nav ul li:last-child {
  position: absolute;
  top: 5px;
  right: 15px;
}
nav ul li {
  flex: 1;
  padding-bottom: 10px;
  position: relative;
  border-bottom: 2px solid #f2f2f2;
  text-align: center;
}
nav ul li:active {
  border-bottom: 2px solid #0065fc;
}
nav ul li:hover {
  border-bottom: 2px solid #0065fc;
}
nav ul li:hover a {
  color: #0065fc;
}
nav ul li:last-child {
  border-bottom: none;
}
nav ul li:last-child a {
  color: #0065fc;
  font-weight: bold;
}
/*Style du logo*/
nav img {
  height: 35px;
  margin-left: 10px;
}
                /* SECTION SEARCH */

.search{
  margin-left: 30px;
}
/* Style du champs de recherche */
.input-container {
  display: flex;
  align-content: center;
  width: 100%;
  height: 40px;
  font-size: 15px;
}
/* Style de l'icone map du champs de recherche */
.fa-map-marker-alt {
  padding: 10px;
  background: #f2f2f2;
  color: rgb(17, 17, 17);
  width: 20px;
  height: 15px;
  text-align: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  position: absolute;
}
/* Style de l'icone recherche du champs de recherche */
.fa-search {
  padding: 9px;
  background: #0065fc;
  color: #f2f2f2;
  width: 20px;
  position: absolute;
  left: 250px;
  border-radius: 10px;
}
/*Style du placeholder dans le champs de recherche*/
.input-field {
  height: 30px;
  width: 270px;
  border-style: none;
  border: solid 1px #f2f2f2;

}
/*Styles du placeholder */
::placeholder {
  font-weight: bold;
  font-family: "Raleway", sans-serif;
  padding-left: 40px;
}
/* Style du paragraphe de résultats de la recherche */
.results-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
/*Styles du bouton rechercher */
.button {
  visibility: hidden;
}
/* Style de l'icone info du paragraphe de résultats */
.fa-info-circle {
  color: #f2f2f2;
  background: #0065fc;
  border-radius: 50%;
  margin-right: 10px;
}
/* Style de la div filters-container*/
.buttons {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
}
.filters-buttons {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  font-size: 14px;
  font-family: "Raleway", sans-serif;
  border: 1px solid#f2f2f2;
  display: flex;
  line-height: 32px;
  margin: 15px;
  padding: 0 10px 0 0;
}
.filters-buttons:hover {
  background-color: #deebff;
}
.filters-buttons i {
  color: #0065fc;
  font-size: 15px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background: #deebff;
  height: 32px;
  width: 34px;
}
.filters-buttons i:hover {
  color: white;
}
.filters-buttons span {
  padding-left: 40px;
}

          /*SECTION HÉBERGEMENTS LES PLUS POPULAIRES*/
/* Style de la div popular-title*/
.popular-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}
.popular-title h2 {
  margin-right: 170px;
  margin-left: 10px;
}
/* Style de la section popular-accomodations*/
.popular-accomodations {
  margin-top: 10px;
  background-color: #f2f2f2;
  padding-bottom: 10px;
  width: 100%;
}
/* Style des images des cards*/
.popular-image {
  object-fit: cover;
  width: 50%;
  height: 140px;
  padding-left: 5px;
  padding-right: 0;
  border-radius: 15px 0px 0px 15px;
}
/* Style de la liste de cards (ul)*/
.popular-cards {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}
/* Style des cards*/
.popular-list-cards {
  display: flex;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 7px rgb(128 128 128 / 16%);
  height: 150px;
  width: 90%;
  border-radius: 15px 15px 15px 15px;
  margin: 0px;
  margin-top: 10px;
}
/* Style des liens de cards*/
.popular-list-cards a {
  display: flex;
  align-items: center;
}
/* Style du contenu des cards*/
.popular-content {
  margin-left: 20px;
  margin-right: 5px;
}
/* Style du paragraphe des cards*/
.popular-text {
  padding-bottom: 15px;
  margin-top: 0px;
}
/* Style du titre des cards*/
.popular-content h3 {
  margin-bottom: 0;
  margin-top: 0px;
}
/* Style des icones de cards*/
.fa-star.full {
  color: #0065fc;
  font-size: 12px;
}
.fa-star {
  color: #bcbec1;
  font-size: 12px;
}

           /*SECTION HÉBERGEMENTS */
.accomodations {
  padding: 20px;
}
/* Style des images des cards*/
.accomodation-image {
  object-fit: cover;
  width: 98%;
  height: 60%;
  padding: 5px 5px 0 5px;
  border-radius: 15px 15px 0px 0px;
}
/*Styles de la liste de cards*/
.accomodations-cards {
  display: flex;
  flex-direction: column;
  padding-left: 0;
}
/* Style des cards*/
.accomodations-list-cards {
  background-color: rgb(255, 255, 255);
  height: 200px;
  width: 100%;
  border-radius: 15px ;
  box-shadow: 2px 2px 7px rgb(128 128 128 / 16%);
  margin-top: 10px;
}
/* Style  du titre des cards*/
.accomodations-cards h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* Style du contenu des cards*/
.accomodation-content {
  justify-content: flex-start;
  width: 100%;
  /*height: 40px;*/
  padding: 2px 5px 0 8px;
}
/* Style du paragraphe des cards*/
.accomodation-text {
  margin-bottom: 10px;
  margin-top: 0;
}

       /*SECTION ACTIVITÉS*/

.activities {
  padding: 20px;
}
/* Style des images des cards*/
.activity-image {
  object-fit: cover;
  width: 98%;
  height: 70%;
  padding: 5px 5px 0 5px;
  border-radius: 15px 15px 0px 0px;
}
.activities-cards {
  padding: 0;
}
/* Style des cards*/
.activities-list-cards {
  box-shadow: 2px 2px 7px rgb(128 128 128 / 16%);
  height: 200px;
  width: 100%;
  border-radius: 15px 15px 15px 15px;
  margin-top: 10px;
}
/* Style du titre des cards*/
.activities-list-cards h3 {
  padding-left: 15px;
}
             /*STYLE DU FOOTER*/
footer {
  margin-top: 0px;
  padding: 30px;
  background-color: #f2f2f2;
}
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

                                                  /*FORMAT TABLET*/

@media only screen and (min-width: 760px) {
/*Styles du header */
  header {
    margin-bottom: 30px;
  }
/*Styles de la barre de navigation */
  nav {
    display: flex;
    justify-content: space-between;
  }
  nav img {
    height: 40px;
    padding-top: 20px;
  }
  nav ul li {
    margin: 0 15px;
    border-bottom: none;
    padding-top: 20px;
  }
  nav ul li:last-child {
    position: initial;
  }
       /*SECTION RECHERCHE*/
  .fa-search {
    visibility: hidden;
  }
  .button {
    visibility: visible;
    border-style: none;
    padding: 9px;
    background: #0065fc;
    color: #f2f2f2;
    position: absolute;
    left: 230px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .button:hover {
    background-color: #f2f2f2;
    color: #000000;
  }
        /*SECTION HEBERGEMENTS POPULAIRES*/
  .popular-accomodations {
    border-radius: 20px;
  }
  .popular-title{
    justify-content:flex-start;
    
  }
  .popular-title h2 {
    margin-right: 10px;
  }
  .popular-cards {
    justify-content: flex-start;
  }
  .popular-list-cards {
    width: 50%;
  }
        /*SECTION HÉBERGEMENTS*/
  .accomodations-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .accomodations-list-cards {
    width: 40%;
  }
  .accomodations span{
    margin-left:40px;
  }

       /*SECTION ACTIVITÉS*/
  .activities h2 {
    margin-left: 20px;
  }
  .activities-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .activities-list-cards {
    width: 40%;
  }
  .activities-list-cards h3 {
    padding-left: 10px;
  }
        /*FOOTER*/
  .footer-container {
    flex-direction: row;
  }
}

                                                 /*FORMAT DESKTOP*/

@media only screen and (min-width: 992px) {
  /* Style du header*/
  header {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  body{
    margin-right: 20px;
  }
  /* Style de la barre de navigation*/
  nav img {
    margin-left: 30px;
  }
  nav a {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid transparent;
    padding-top: 30px;
    box-sizing: border-box;
  }
  nav ul li {
    padding-top: 0px;
  }
  nav ul li a:active {
    border-top: 2px solid #0065fc;
    border-bottom: none;
  }
  nav ul li:hover {
    border-bottom: none;
    border-top: 2px solid #0065fc;
  }
  
  nav ul li:last-child {
    border-top: none;
  }
  /* Taille des fonts*/
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 16px;
  }
  P {
    font-size: 16px;
  }
     /* SECTION RECHERCHE*/

  .fa-search {
    visibility: hidden;
  }
  .button {
    visibility: visible;
    border-style: none;
    padding: 12px;
    background: #0065fc;
    color: #f2f2f2;
    position: absolute;
    left: 400px;
    text-align: center;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .button:hover {
    background-color: #f2f2f2;
    color: #000000;
  }
  .input-field {
    height: 36px;
    width: 400px;
  }
     /* SECTION FILTRES*/

  .filters-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  .fa-map-marker-alt {
    height: 20px;
  }
  .filters-buttons {
    font-size: 15px;
  }
     /* DIV ALL ACCOMODATIONS*/
  .all-accomodations {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    margin-top: 20px;
    margin-left:30px;
  }
  .all-accomodations p {
    font-size: 13px;
  }
     /* SECTION HÉBERGEMENTS POPULAIRES*/
  .popular-title{
    justify-content:space-between;
    padding-right:30px;
  }
  .popular-accomodations {
    flex: 1;
    margin-top: 0;
    margin-left: 10px;
  }
  .popular-cards {
    margin-top: 0;
  }
  .popular-list-cards {
    height: 130px;
    width: 85%;
  }
  .popular-image {
    width: 40%;
    height: 120px;
    padding-left: 5px;
    border-radius: 15px 0px 0px 15px;
  }
     /* SECTION HÉBERGEMENTS*/
  .accomodations {
    flex: 2;
    background-color: #f2f2f2;
    border-radius: 20px;
    margin-right: 10px;
    
  }
  .accomodations h2{
    margin-top:0;
  }
  .accomodation-image {
    object-fit: cover;
    width: 95%;
    height: 60%;
  }
  .accomodation-content {
    padding: 0 0 0 10px;
  }
  .accomodation-content h3 {
    margin-top: 0px;
    margin-bottom: 0;
    /*font-size:15px;*/
  }
  .accomodation-text {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 13px;
  }
  .accomodations span {
    padding-bottom: 50px;
    margin-left: 10px;
  }
  .accomodations-list-cards {
    height: 155px;
    width: 30%;
    margin: 5px 0 30px 0;
    padding: 2px;
  }
  .accomodations-cards {
    justify-content: space-between;
    margin-bottom: 0;
  }
  .fa-star {
    font-size: 11px;
    margin-top: 0px;
  }
  .fa-star.full {
    font-size: 11px;
    margin-top: 0;
  }
     /* SECTION ACTIVITÉS*/

  .activities {
    margin-top: 10px;
    margin-left: 10px;
  }
  .activities-cards {
    display: block;
    column-count: 4;
    column-width: 200px;
    column-gap: 25px;
    width: 100%;
  }
  ul.activities-cards {
    padding: 0;
    margin-top:20px;
  }
  .activities-list-cards {
    margin: 0 auto 25px;
    width: 100%;
  }
  .activities-cards li h3 {
    margin: 0;
    padding: 5px ;
  }
  .activity-image {
    height: 70%;
    padding: 5px 5px 0 5px;
  }
  /* Style des 6 cards et de leurs images */

  .img1 {
    height: 375px;
  }
  .img1 img {
    height: 85%;
  }
  .img2 {
    height: 200px;
  }
  .img2 img {
    height: 75%;
  }
  .img3 {
    height: 145px;
  }
  .img3 img {
    height: 65%;
  }
  .img4 {
    height: 375px;
  }
  .img4 img {
    height: 85%;
  }
  .img5 {
    height: 145px;
  }
  .img6 {
    height: 200px;
  }
  .img6 img {
    height: 75%;
  }
  /*STYLE DU FOOTER*/
  footer{
    width:100%;
  }
  .footer-container {
    justify-content: flex-start;
  }
  .about{
    margin-left:20px;
  }
  .our-accomodations{
    margin-left:100px;
    margin-right:100px;
  }
}
